.cards__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  max-width: 240px;
  text-align: center;
  list-style: none;
}

.cards__item:last-child {
  padding-right: 0;
}
