.footer__column-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 16px;
  padding-top: 20px;
}
